@{
    ViewData["Title"] = "Home Page";
}

@model List<Dish>

<div class="top_bar">
    <a class="bigbutton" href="/" style="border-right:3px black solid">Chefs</a>    <a class="dishes_button" href=""></a>
    <a class="bigbutton">Dishes</a>
    <a class="button" href="newDish">Add a Dish</a>
</div>

<h2 style="border-bottom: 3px solid black">Yum! Take a look at our tasty dishes! </h2>

<table class="chef_table">
  <tr>
    <th>Name</th>
    <th>Chef</th> 
    <th>Tastiness</th>
    <th>Calories</th>
  </tr>

  @foreach(var dish in Model){
  <tr>
    <td>@dish.Name</td>
    <td>@dish.Creator.FirstName @dish.Creator.LastName</td> 
    <td>@dish.Tastiness</td>
    <td>@dish.Calories</td>
  </tr>
  }
</table>